/*Fontes*/
body {
    font-family: 'Roboto',  sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
}

.topo {
  display: flex;
  width: 935px;
  align-items: center;
  justify-content: space-between;
}

.topo-mobile {
  display: none;
  width: 100%;
}

.cabecalho {
    width: 100%;
    height: 54px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: center;
    position: fixed;
    top:0;
    right:0;
    z-index: 3;
    box-sizing: border-box;
}

.logo {
  display: flex;
  align-items:center;
}


.links ion-icon{
  margin-left: 20px;
}

.nome {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 6px;
    box-sizing: border-box;
    max-width: 78px;
}

/* Icons*/
ion-icon {
    font-size: 24px;
    pointer-events: none;
}

.icon-logo{
    margin-left: 5px;
    padding-left: 5px;
    padding-top: 5px;
    border-left: 1px solid #e6e6e6;
}

input {
    width: 215px;
    height: 28px;
    opacity: 0.5;
}

.caixa-de-pesquisa {
    text-align: center;
    border:1px solid #DBDBDB;
    border-radius: 3px;
    outline: 0;
}

/*Container*/

.container {
    width: 935px;
    display: flex;
}

.geral{
    margin-top: 88px;
    box-sizing: border-box;
}
/*Stories*/
.stories{
    Width : 614px;
    margin-bottom: 24px;
    height: 118px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    background-color:#ffffff;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    overflow:hidden;
    box-sizing: border-box;
}

.user-stories{
  margin-left: 13px;
}

.post-stories {
    width: 66px;
    height: 66px;
    background-size: 66px 66px;
}

.background-stories {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
}

.imagem-stories {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
}

.botao {
    color: #FFFFFF;;
    position: absolute;
    right: -5px;
    bottom: 50px;
    font-size: 30px;
    z-index: 3;
    filter:drop-shadow(0 0 10px gray);
}



/*Posts*/
.posts {
    Width : 614px;
    height: auto;
    box-sizing: border-box;
}

.post {
  margin-bottom: 60px;
  background-color: #ffffff;
  border: 1px solid #DBDBDB;
  border-radius: 3px;

}


.imagem-post {
    width: 612px;
    height: 612px;
}


/**Topo das publicações**/
.topo-publicacao {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
}

.topo-publicacao ion-icon {
    font-size: 16px;
}

.imagem-perfil-publicador {
    position: absolute;
    left: 17px;
}

.imagem-perfil{
    width: 32px;
    height: 32px;
    border-radius: 50px;
}

.nome-perfil-publicador{
    position: absolute;
    left: 60px;
    top: 20;
    max-width: 109px;
}

.nome-perfil{
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    max-width: 109px;
}

.icon-mais-informacoes{
    position: absolute;
    right: 17px;
    top: 20;
    font-size: 16px;
}

/**Rodape das publicações**/

.rodape-posts {
    height: 76px;
    width: 100%;
    position: relative;
}

.rodape-posts ion-icon {
    font-size: 22px;
}

.icon-amei,
.icon-enviar,
.icon-chat,
.icon-marcacao {
    position: absolute;
    top: 10px;
}

.icon-amei {
  left: 15px;
}
.icon-enviar {
    left: 88px;
}
.icon-chat {
    left: 52px;
}
.icon-marcacao {
    right: 14px;
}
video {
  width: 100%;
  height: 100%;
}
.ultimo-perfil-curtir {
    position: absolute;
    left: 17px;
    bottom: 14px;
}
.ultimo-perfil-curtir img {
  width: 20px;
  height: 20px;
  border-radius: 50px;
}

.curtidas-totais {
    height: 21px;
    position: absolute;
    bottom: 12px;
    left: 42px;
    font-size: 14px;
    line-height: 16px;
}

/**Comentarios usuarios**/
.comentarios {
  width: 100%;
  height: auto;
  background-color: red;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}


.comentario{
  display: flex;
  position: relative;
  align-items: center;
  align-content: center;
  justify-itens: center;
  height: 20px;
  margin-bottom: 5px;
}

.comentario-usuario {
    font-size: 14px;
    margin-left: 4px;
    color: #262626;
}

.nome-usuario-comentario {
  padding-top: 5px;
  color: #262626;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  margin-left: 17px;
}


button {
  background-color: #ffffff;
  border: none;
}
.comentario-amei:focus{
  color:red;
}
.comentario-amei {
  color: #e4e4e4;
  position: absolute;
  right: 8px;
}

.box-comentario {
  display: flex;
  margin-top: 20px;
  border-top: 1px solid #e6e6e6;
  align-items: center;
  width: 100%;
  height: 40px;
  position: relative;
}

.input-comentario {
  position: absolute;
  width: 79%;
  left: 17px;
  border: none;
}
.input-comentario:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.botao-publicar {
  position: absolute;
  right: 13px;
  font-weight: 700;
  color: #B2DFFC;
}

.botao-publicar:hover{
  color: #0095F6;
  transition-delay: 0.3s;
}

/*Sidebar*/
.side-bar {
    padding-top: 88px;
    height: auto;
    position: fixed;
    width: 320px;
    padding-left: 28px;
    background-color: #fafafa;
    height: 466px;
    left: calc(50% + 146.5px);
    box-sizing: border-box;
}

span img{
    width: 56px;
    height: 56px;
    border-radius: 50px;
}


.destaque {
    display: flex;
    height: 56px;
    margin-top: 20px;
    align-items: center;
}

.titulo-destaque {
  color: #262626;
  padding-left: 17px;
}
.subtitulo-destaque{
  color: #8E8E8E;
  padding-left: 17px;
}

.sugestoes {
  margin-top: 24px;
}

.menu {
  display: flex;
  margin-bottom: 18px;
  justify-content: space-between;
}

.sugestoes-para-voce {
  color: #8E8E8E;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.ver-tudo {
  color: #262626;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}



.usuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.usuario-seguir {
  display: flex;
  align-items: center;
}

.usuarios span img{
  width: 32px;
  height: 32px;
}

.descricao {
  padding-left: 11px;
}

.nome-usuario {
  color: #262626;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}



.titulo-seguir, .seguir {
  color: #8E8E8E;
  font-size: 12px;
  line-height: 14px;
}

.seguir {
  color: #139EF2;
  font-weight: 500;
}


a {
  text-decoration: none;
  color:black;
}

.direitos {
  margin-top: 18px;
  color: #C7C7C7;
  font-size: 11px;
  line-height: 13px;
}
.links-sobre-a-empresa, .links-sobre-a-empresa a {
  width: 300px;
  color: #C7C7C7;
  font-size: 11px;
  letter-spacing: -0.3px;
  line-height: 13px;
}

.barra-inferior {
  position: fixed;
  width: 100%;
  height: 54px;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #FFFFFF;
  align-items: center;
  box-sizing: border-box;
}

.barra-inferior div {
  display: flex;
  width: 95%;
  margin-left: 15px;
  align-items:center;
  justify-content: space-between;
}
.barra-inferior ion-icon{
  width: 22px;
  height: 22px;
}


@media (max-Width:934px) {
  .side-bar {
    display: none;
  }

  .container {
      width: 100%;
      justify-content: center;
  }
}

@media (max-width : 614px) {

  .container {
    width: 100%;
  }

  .stories {
    background-color: inherit;
    margin-bottom: none;
  }

  .topo-mobile {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-left: 15px;
    padding-right: 15px;
  }

  .topo, .botao {
    display: none;
  }

  .icon-logo, 
  .stories {
    border: none;
  }
  .geral{
    margin-top: 55px;
    width: 100%;
  }
  .stories{
    margin-bottom: 0 !important;
  }

  .nome {
      padding-top: 6px;
  }

  .barra-inferior {
    display: flex;
  }

  .stories, 
  .posts, 
  .imagem-post {
      width: 100%;
  }


}
